name: Publish Quarto Website

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # Install Quarto
      - uses: quarto-dev/quarto-actions/setup@v2

      # Install R
      - uses: r-lib/actions/setup-r@v2

      # Restore packages using renv
      - uses: r-lib/actions/setup-renv@v2

      # Render the site
      - name: Render website
        run: quarto render

      # Deploy to GitHub Pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _site
